body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
}

.header {
    background-color: #ffffff;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    position: fixed; /* Fijar la barra de inicio */
    width: 100%;
    z-index: 300; /* Asegurar que esté sobre cualquier otro contenido */
    top: 0; /* Pegar la barra de inicio en la parte superior */
    transition: top 0.3s; /* Agregar una transición suave al movimiento */
}

.content {
    padding-top: 100px; /* Espacio suficiente para evitar solapamiento */
}

.container {
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dialog-content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


button {
	padding: 10px 20px;
        margin: 10px;
        background-color: #0E3893;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
}


footer {
        background-color: #f2f2f2;
        padding: 10px;
        text-align: center;
        position: fixed; /* Fijar el pie de página */
        width: 100%;
        bottom: 0; /* Fijar el pie de página en la parte inferior */
}

table {
        width: 100%;
        border-collapse: collapse;
}

th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
}

th {
	background-color: #f2f2f2;
}

footer {
	background-color: #f2f2f2;
        padding: 10px;
        text-align: center;
        position: fixed; /* Fijar el pie de página */
        width: 100%;
        bottom: 0; /* Fijar el pie de página en la parte inferior */
}

input[type="text"], select {
	width: 100%;
	padding: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
}

.green-cell {
    background-color: #90ee90; /* Color verde claro */
    color: #fff; /* Texto blanco, si es necesario */
}


.loginModal{
	display:none; 
	position: fixed; 
	top: 50%; left: 50%; 
	transform: translate(-50%, -50%); 
	background-color: white; 
	padding: 20px; 
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}